@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your email.
    </p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Log in</a>
</div>
